[submodule "DLLDependencyViewer/DLLDependencyViewer/src/3rd_party/processhacker"]
	path = DLLDependencyViewer/DLLDependencyViewer/src/3rd_party/processhacker
	url = https://github.com/MarekKnapek/processhacker.git
