#include "resources.h"

#include "../nogui/my_windows.h"


CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "manifest.xml"

#ifdef _M_IX86
s_res_dependency_manifest RT_MANIFEST "manifest_x86.xml"
#else
#ifdef _M_X64
s_res_dependency_manifest RT_MANIFEST "manifest_amd64.xml"
#else
#error Unknown architecture.
#endif
#endif

s_res_icons_tree BITMAP "icons_tree.bmp"
s_res_icons_toolbar BITMAP "icons_toolbar.bmp"
s_res_icons_import_export BITMAP "icons_import_export.bmp"
